* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-header{
    vertical-align: middle;
}

.testo-header{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    vertical-align: middle;
    

}
main{
    background-color: #F7F8F9;
}


.container{
    width: 900px;
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px 20px 20px 40px;  
}

.primo-contenitore{
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secondo-contenitore{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.button1{
    background:#47ADF1 ;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    
}

.button2{
    background:#FFFFFF;
    border-radius: 5px;
    padding: 3px 3px 3px 3px; 
}

.button3{
    background: #47ADF1;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
    
    
}

.button4{
    background: #9C72E4;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
}

.button5{
    background: #64C0A9;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
}

.button6{
    background: #F29E33;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
}

.button7{
    background: #D863A1;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
}

.button8{ 
    background: #B0C926;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
}

span{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}